.start,.end{
    width: auto;
    padding: 12px 20px;
    height: auto;
    font-size: 16px;
    font-weight: 600;
    color: #81B0E0;
    background: #FFFFFF;
    box-shadow: 0px 6px 0px #81B0E0;
    border-radius: 12px;
    border: solid 1px #81B0E0; 
    color: #465CAA;

}
.start:active,.end:active{
    margin-top: 2px;
    box-shadow: 0px 4px 0px #81B0E0;
    transform: translateY(2px);
}


.btnUI{
    z-index: 999;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.sysUI{
    z-index: 9999;
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container{
    display: flex;
    gap: 16px;
    background-color: #3B403F;
    padding: 14px 20px;
}
.container > input{
    color : #ffffff;
}
input[type=file]::file-selector-button{
    background-color: none;
    color: #ffffff;
    border: none;
    margin-right: 16px;
    background-color: #323535;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
}

.file_select > button{
    background-color: #0067FF;
    padding: 12px 20px;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    width: 346px;
    font-size: 14px;
}

.camera_select{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file_select{
    flex-direction: column;
}
.camera_select_title{
    font-size: 16px;
    color: white;
}

.change{
    font-size: 14px;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
}
.change1{
    background-color: #3B403F;
    color: #8C8C8C;
}
.change2{
    background-color: #0067FF;
}
.miniMap{
    z-index: 999;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50px;
    top: 50px;
background-image: url(./minimap.png);
background-size: cover;
}

.cha{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #323535;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 20px;
    left: 20px;
}